<user-greeting @name="Ricardo" @greeting="Olá" />
{{@greeting}}, {{@name}}!

<button onclick={{action next}}>Next</button>

<button disabled class="disabled"></button>

<button disabled=disabled class="disabled"></button>

<div ...attributes>Hello</div>
