<div class="attribute" {{modifier}} {{! comment}}>
  Hello
</div>

<div>
  Hello
</div>

<div>
  hi
</div>

<div>
  A string that is long enough so that it can't be contained with its tags.
</div>

<div>
  A long enough string to trigger a line break that would require some form of filling
</div>

<div>
  A line break with its own new lines
  inside of it forming something of 
  a paragraph. The breaks should be
  preserved by the pretty printer.
</div>

<div>
  {{#block}}
    {{hello}}
  {{/block}}
</div>

<div>
  {{hello}}
</div>

<div></div>
<img />
