/* http://tabatkins.github.io/specs/css-apply-rule/#defining */

:root {
  --like-a-apply-rule: {
  color:red;} /* no semi here*/
  --another-prop: blue;
}

:root {
  --like-a-apply-rule: {
  color:red;} /* no semi here*/
  --another-one-like-a-apply-rule: {
    color:red;
  };
}
