@use "library";

@use "library" with (
  $black: #222,
  $border-radius: 0.1rem
  $font-family: "Helvetica, sans-serif"
);

@use "library" as *;

@use "library" as f;

@use "sass:map";

@forward "library";

@forward "library" show border, $border-color;

@forward "library" hide gradient;

@forward "library" as btn-*;

@forward "library" as btn*;
