version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      day: sunday
      time: "01:00"
    labels:
      - scope:dependency
    target-branch: "next"
