root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[cspell.json]
indent_size = 4
insert_final_newline = false

[website/blog/*.md]
trim_trailing_whitespace = false

[tests/{**/__snapshots__/*, tests/format/**/*}]
trim_trailing_whitespace = false

[tests/format/**/jsfmt.spec.js]
trim_trailing_whitespace = true
