{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-dupe-keys": 2,
    "func-call-spacing": 2,
    "guard-for-in": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-duplicate-case": 2,
    "no-multi-spaces": 2,
    "no-self-compare": 2,
    "no-unused-vars": 2,
    "space-before-function-paren": ["error", "never"],
    "yoda": 2
  }
}
