!/*.js
/tests/**/*.js
!/tests/**/jsfmt.spec.js
!/**/.eslintrc.js
/test*.js
/scripts/build/shims
/scripts/release/node_modules
/coverage/
/dist/
**/node_modules/**
/website/build/
/website/static/playground.js
/website/static/lib/
/tests_integration/cli/
