.tmp
tests/format/**/*.js
tests/integration/cli/
!tests/format/**/jsfmt.spec.js
test*.*
scripts/release/node_modules
coverage/
dist*/
**/node_modules/**
website/build/
website/static/playground.js
website/static/lib/
scripts/benchmark/*/
**/.yarn/**
**/.pnp.*
