/node_modules
*.log
/errors
/test.js
/test.ts
/test.css
/.vscode
/dist
/website/node_modules
/website/build
/website/i18n
/website/static/playground.js
/website/static/lib
.DS_Store
coverage
.idea
package-lock.json
