# node_modules
# We have `node_modules` directory for tests, don't ignore them all
/node_modules
/website/node_modules
/scripts/release/node_modules
/scripts/tools/bundle-test/node_modules
/scripts/tools/eslint-plugin-prettier-internal-rules/node_modules

.tmp
*.log
/errors
/test*.*
/.vscode
/dist
/website/build
/website/i18n
/website/static/playground.js
/website/static/lib
.DS_Store
/coverage
.idea
package-lock.json
**/.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.nyc_output
.devcontainer
