dist/
.cache/
coverage/
/tests/format/**/*.*
!/tests/format/**/jsfmt.spec.js
/tests/integration/cli/
/tests/integration/plugins/
/tests/integration/custom-parsers/
/website/build/
/website/static/lib/
/website/static/playground.js
cspell.json
.nyc_output
