overrides:
  - files: "**/*.{js,mjs,cjs}"
    options:
      parser: meriyah
  - files: "bin/prettier.cjs"
    options:
      trailingComma: none
  # TODO: Enable this after `jsonc` parser released
  # - files: ".vscode/*.json"
  #   options:
  #     parser: jsonc
