dist/
.cache/
coverage/
/tests/**/*.*
!/tests/**/jsfmt.spec.js
/tests_integration/cli/
/tests_integration/plugins/
/tests_integration/custom-parsers/
/website/build/
/website/static/lib/
/website/static/playground.js
cspell.json
