**/.yarn/*

# Ignore directories and files in 'tests/format'
/tests/format/**/*.*
# Unignore directories and 'format.test.js' file
!/tests/format/**/
!/tests/format/**/format.test.js
/tests/integration/cli/
!/tests/integration/plugins/automatic/node_modules/@prettier/plugin-foo/index.js
!/tests/integration/plugins/automatic/node_modules/@user/prettier-plugin-foobar/index.js
!/tests/integration/plugins/automatic/node_modules/prettier-plugin-bar/index.js
!/tests/integration/plugins/automatic/package.json
!/tests/integration/plugins/automatic/prettier-plugin-bar.js
!/tests/integration/plugins/bespoke/node_modules/@company/prettier-plugin-bespoke/main.js
!/tests/integration/plugins/defaultOptions/plugin.cjs
!/tests/integration/plugins/extensions/plugin.cjs
!/tests/integration/plugins/flushLineSuffix/plugin.cjs
!/tests/integration/plugins/options-string/plugin.cjs
!/tests/integration/plugins/options/plugin.cjs
!/tests/integration/plugins/preprocess/plugin.cjs
/tests/integration/custom-parsers/
