overrides:
  - files: "**/*.{js,mjs,cjs}"
    options:
      parser: oxc
      plugins:
        - ./packages/plugin-oxc/index.js
  - files: "bin/prettier.cjs"
    options:
      trailingComma: none
  - files:
      - ".vscode/*.json"
      - "tsconfig.json"
    options:
      parser: jsonc
