<div title='My title'></div>
<div title="My title"></div>
<div title='My "title"'></div>
<div title="My other 'title'"></div>
<div title='My {{title}}'></div>
<div title='My {{number}} "title"'></div>
<div title="My {{number}} 'title'"></div>
