<p style="

          some nonsense


but


why not">String</p>
<p style="

          font-size: 35px and


some


nonsense">String</p>
<p style="

          font-size: 35px; color:red;


font-weight: 500;


">String</p>

<p style="

          some nonsense


{{but}}


why not">String</p>
<p style="

          font-size: 35px and


{{some}}


nonsense">String</p>
<p style="

          font-size: 35px; color:red;


font-weight: {{weight}};


">String</p>
