.unicode-ranges
{
    /* <unicode-range> values */
    unicode-range: U+26;               /* single codepoint */
    unicode-range: U+0-7F;
    unicode-range: U+0025-00FF;        /* codepoint range */
    unicode-range: U+4??;              /* wildcard range */
    unicode-range: U+0025-00FF, U+4??; /* multiple values */
}

/* #3646 */
@font-face {
  unicode-range: U+0F00, U+F000;
  unicode-range: U+0f00, U+f000;
}
