a:nth-child(+2n) {}
a:nth-child(+n) {}
a:nth-child(+3n+2) {}
a:nth-last-child(+3n+1) {}
a:nth-of-type(+2n) {}
a:nth-last-of-type(+n+3) {}
a:nth-child(2n+1) {}
a:nth-child(-n+2) {}
a:has(+ img) {}
a:has(+img) {}
