.screen-color {
    @media screen {
        color: green;

        @media (min-width: 768px) {
            color: red;
        }
    }
    @media tv {
        color: black;
    }
}
.screen-color {
@media screen {
color: green;

@media (min-width: 768px) {
color: red;
}
}
@media tv {
color: black;
}
}
.screen-color{
    @media screen{
        color: green;

        @media (min-width: 768px){
            color: red;
        }
    }
    @media tv{
        color: black;
    }
}
.screen-color  {
    @media screen  {
        color: green;

        @media (min-width: 768px)  {
            color: red;
        }
    }
    @media tv  {
        color: black;
    }
}
.screen-color
{
@media
screen
{
color
:
green
;
@media
(
min-width
:
768px
)
{
color
:
red
;
}
}
@media
tv
{
color
:
black
;
}
}
.screen-color

{

@media

screen

{

color

:

green

;

@media

(

min-width

:

768px

)

{

color

:

red

;

}

}

@media

tv

{

color

:

black

;

}

}
