$a: if(sass($x): 1 ; else: white);
$b: if(sass($x): map.get($view, background); else: white);
$c: if(sass($x): map.get($view, background) ; else: white);

@mixin foo($isDark, $view) {
  .bar {
    background-color: if(sass($isDark): map.get($view, background) ; else: white);
  }
}
