a {
  box-shadow: inset 0 $size $size (-$size) black;
  width: calc(100% - (#{var(--g-spacing)} - #{$iframe-x-padding}) * 2);
  padding-right: (100% * $info-width / (1 - $image-width));
  padding-bottom:
    (
      100% *
      $image-height / ($image-width-responsive + $image-margin-responsive * 2)
    );
}

.foo {
  --paddingC: calc(  var(  --widthB  )  /  2  );
  content: attr(  data-title  );
  color: var(  --main-bg-color  );
  background-color: rgb(  255,  0,  0  );
  background: element(  #css-source  );
  width: calc(  100%  -  (  #{var(--g-spacing)}  -  #{$iframe-x-padding}  )  *  2  );
  padding-bottom:
      (
          100% *
          $image-height  /  (  $image-width-responsive  +  $image-margin-responsive  *  2  )
      );
  padding-top: var(  --paddingC  );
}
