.a,.b,.c {}
.r { &, &:hover {} }

@media (min-width: 0px) {
  .a,.b,:not(asdasldaskdhjkashdahsdkjahskdjhakj,asdasldaskdhjkashdahsdkjahskdjhakj) {color: red}
}

.asdasldaskdhjkashdahsdkjahskdjhakjsdkjahsdhkas .asdasldaskdhjkashdahsdkjahskdjhakjsdkjahsdhkas,
.asdasldaskdhjkashdahsdkjahskdjhakjsdkjahsdhkas .asdasldaskdhjkashdahsdkjahskdjhakjsdkjahsdhkas {}

.parent.child {}
.parent .child {}
.parent  .child {}
.parent {
  .child-one {}
  .child-two {}
}
.parent{
.child-one  {}
.child-two  {}
}
.parent  {
  .child-one  {}
  .child-two  {}
}

.parent>.child {}
.parent > .child {}
.parent  >  .child {}
.parent>{
  .child-one {}
  .child-two {}
}
.parent > {
  .child-one {}
  .child-two {}
}
.parent  >  {
  .child-one {}
  .child-two {}
}

.parent+.child {}
.parent + .child {}
.parent  +  .child {}
.parent+{
  .child-one {}
  .child-two {}
}
.parent + {
  .child-one {}
  .child-two {}
}
.parent  +  {
  .child-one {}
  .child-two {}
}

.parent~.child {}
.parent ~ .child {}
.parent  ~  .child {}
.parent~{
  .child-one {}
  .child-two {}
}
.parent ~ {
  .child-one {}
  .child-two {}
}
.parent  ~  {
  .child-one {}
  .child-two {}
}
