---
title: "Example Document"
date: 1993-02-01
author:
  name: Arthur Mitchell
tags:
- tutorial
- example
summary: >
  A very long example document written for a person other than me, I don't know
  why this is so long. Very good example... Yes!
---

<html lang="en">
<head>
  <title>{{title}}</title>
</head>
<body>
  {{! comment --- }}
  {{summary}}
</body>
</html>
