<textarea>{{ generatedDiscountCodes }}</textarea>
<textarea>
{{ generatedDiscountCodes }}</textarea>
<textarea>
    {{ generatedDiscountCodes }}</textarea>
<textarea>  
{{ generatedDiscountCodes }}</textarea>
<textarea>  
    {{ generatedDiscountCodes }}</textarea>
<textarea>{{ generatedDiscountCodes }}123</textarea>
<textarea>
{{ generatedDiscountCodes }}123</textarea>
<textarea>
    {{ generatedDiscountCodes }}123</textarea>
<textarea>  
{{ generatedDiscountCodes }}123</textarea>
<textarea>  
    {{ generatedDiscountCodes }}123</textarea>
<textarea type="text">{{ generatedDiscountCodes }}</textarea>
<textarea type="text">
{{ generatedDiscountCodes }}</textarea>
<textarea type="text">
    {{ generatedDiscountCodes }}</textarea>
<textarea type="text">  
{{ generatedDiscountCodes }}</textarea>
<textarea type="text">  
    {{ generatedDiscountCodes }}</textarea>
<textarea type="text">{{ generatedDiscountCodes }}123</textarea>
<textarea type="text">
{{ generatedDiscountCodes }}123</textarea>
<textarea type="text">
    {{ generatedDiscountCodes }}123</textarea>
<textarea type="text">  
{{ generatedDiscountCodes }}123</textarea>
<textarea type="text">  
    {{ generatedDiscountCodes }}123</textarea>
