<div
  bindon-target=" a | b : c:d :e "
  [(target)]=" a | b : c:d :e "
  bind-target=" a | b : c:d :e "
></div>
<!--  prettier-ignore-attribute -->
<div
  bindon-target=" a | b : c:d :e "
  [(target)]=" a | b : c:d :e "
  bind-target=" a | b : c:d :e "
></div>
<!--  prettier-ignore-attribute bind-target -->
<div
  bindon-target=" a | b : c:d :e "
  [(target)]=" a | b : c:d :e "
  bind-target=" a | b : c:d :e "
></div>
<!--  prettier-ignore-attribute [(target)] bind-target -->
<div
  bindon-target=" a | b : c:d :e "
  [(target)]=" a | b : c:d :e "
  bind-target=" a | b : c:d :e "
></div>
