<div
    bindon-target=" a | b : c "
    [(target)]=" a | b : c "
    bind-target=" a | b : c "
></div>
<!--  prettier-ignore-attribute -->
<div
    bindon-target=" a | b : c "
    [(target)]=" a | b : c "
    bind-target=" a | b : c "
></div>
<!--  prettier-ignore-attribute bind-target -->
<div
    bindon-target=" a | b : c "
    [(target)]=" a | b : c "
    bind-target=" a | b : c "
></div>
<!--  prettier-ignore-attribute [(target)] bind-target -->
<div
    bindon-target=" a | b : c "
    [(target)]=" a | b : c "
    bind-target=" a | b : c "
></div>
