@mixin clearfix {}
@mixin clearfix{}
@mixin  clearfix  {}
@mixin clearfix
  {}
@mixin
  clearfix
  {}
@mixin
clearfix
{
}
@mixin

clearfix

{

}

@mixin mix($arg, $arg1, $arg2: 10, $args...) {}
@mixin mix($arg,$arg1,$arg2:10,$args...){}
@mixin mix ( $arg , $arg1 , $arg2 : 10 , $args ... ) {}
@mixin  mix  (  $arg  ,  $arg1  ,  $arg2  :  10  ,  $args  ...  )  {}
@mixin mix(
    $arg,
    $arg1,
    $arg2: 10,
    $args...
) {}
@mixin
mix(
    $arg,
    $arg1,
    $arg2: 10,
    $args...
    ) {}
@mixin
mix
(
$arg
,
$arg1
,
$arg2
:
10
,
$args
...
)
{
}
@mixin

mix

(

$arg

,

$arg1

,

$arg2

:

10

,

$args

...

)

{
}
@mixin mix($very-very-very-very-very-very-very-very-very-very-very-very-very-very-long-arg, $very-very-very-very-very-very-very-very-very-very-very-very-very-very-long-arg1, $very-very-very-very-very-very-very-very-very-very-very-very-very-very-long-arg2: 10, $very-very-very-very-very-very-very-very-very-very-very-very-very-very-long-args...) {}
