.long-classname-classname-classname div[foo="bar\
bar"] {
  color: red;
}

/* Should not break before `div`, since it doesn't reach 80 width */
.long-classname-classname-classname div[foo="bar\
bar-bar-bar-bar-bar-bar-bar"] {
  color: red;
}

.long-classname-classname-classname-classname-classname-classname-classname-classname-classname div[foo="bar\
bar-bar-bar-bar-bar-bar-bar"] {
  color: red;
}

div {
  /* Should break before `div`, since it reaches 80 width */
  .long-classname-classname-classname div[foo="bar\
bar-bar-bar-bar-bar-bar-bar"] {
  color: red;
}

  .long-classname-classname-classname-classname-classname-classname-classname-classname-classname div[foo="bar\
bar-bar-bar-bar-bar-bar-bar"] {
  color: red;
}
}
