<span class="stampFont" style="font-family: 'stampfont'">&#xf000;</span>

Σ: &#931; &#0931; &#x3A3; &#x03A3; &#x3a3;

[&amp;nbsp;] [&amp;#160;]

<div title="A &amp; &#931;"></div>

<a title="&#38;#160;"></a>
