@media (prefers-reduced-motion) {
  .dash {
    transition: none !important;
  }
}

/* GENERATED CONTENT FOLLOWS */

.c1 {
  stroke: #56b3b4;
}
.c2 {
  stroke: #ea5e5e;
}
.c3 {
  stroke: #f7ba3e;
}
.c4 {
  stroke: #bf85bf;
}
.c1,
.c2,
.c3,
.c4 {
  opacity: 1;
}
g > path,
.initial g > path {
  opacity: 0.5;
  stroke: #4d616e;
}
.dash {
  stroke-linecap: round;
  stroke-width: 10;
  transition-timing-function: cubic-bezier(0.43, 0.12, 0.44, 1);
  transition-property: stroke-dashoffset, stroke, opacity;
  transition-duration: 900ms;
}
.l0 > path {
  transition-delay: 0ms, 500ms, -200ms;
}
.l0 .p0 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: 0;
}
.initial .l0 .p0 {
  stroke-dashoffset: -130;
}
.l0 .p1 {
  stroke-dasharray: 140, 380;
  stroke-dashoffset: -60;
}
.initial .l0 .p1 {
  stroke-dashoffset: -190;
}
.l0 .p2 {
  stroke-dasharray: 100, 420;
  stroke-dashoffset: -220;
}
.initial .l0 .p2 {
  stroke-dashoffset: -350;
}
.l1 > path {
  transition-delay: 70ms, 570ms, -130ms;
}
.l1 .p0 {
  stroke-dasharray: 60, 460;
  stroke-dashoffset: -20;
}
.initial .l1 .p0 {
  stroke-dashoffset: 80;
}
.l1 .p1 {
  stroke-dasharray: 120, 400;
  stroke-dashoffset: -100;
}
.initial .l1 .p1 {
  stroke-dashoffset: 0;
}
.l1 .p2 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -240;
}
.initial .l1 .p2 {
  stroke-dashoffset: -140;
}
.l1 .p3 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -300;
}
.initial .l1 .p3 {
  stroke-dashoffset: -200;
}
.l2 > path {
  transition-delay: 140ms, 640ms, -60ms;
}
.l2 .p0 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -40;
}
.initial .l2 .p0 {
  stroke-dashoffset: -160;
}
.l2 .p1 {
  stroke-dasharray: 30, 490;
  stroke-dashoffset: -100;
}
.initial .l2 .p1 {
  stroke-dashoffset: -220;
}
.l2 .p2 {
  stroke-dasharray: 100, 420;
  stroke-dashoffset: -150;
}
.initial .l2 .p2 {
  stroke-dashoffset: -270;
}
.l2 .p3 {
  stroke-dasharray: 130, 390;
  stroke-dashoffset: -270;
}
.initial .l2 .p3 {
  stroke-dashoffset: -390;
}
.l2 .p4 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -420;
}
.initial .l2 .p4 {
  stroke-dashoffset: -540;
}
.l3 > path {
  transition-delay: 210ms, 710ms, 10ms;
}
.l3 .p0 {
  stroke-dasharray: 80, 440;
  stroke-dashoffset: 0;
}
.initial .l3 .p0 {
  stroke-dashoffset: -40;
}
.l3 .p1 {
  stroke-dasharray: 70, 450;
  stroke-dashoffset: -100;
}
.initial .l3 .p1 {
  stroke-dashoffset: -140;
}
.l3 .p2 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -190;
}
.initial .l3 .p2 {
  stroke-dashoffset: -230;
}
.l3 .p3 {
  stroke-dasharray: 10, 510;
  stroke-dashoffset: -250;
}
.initial .l3 .p3 {
  stroke-dashoffset: -290;
}
.l3 .p4 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -280;
}
.initial .l3 .p4 {
  stroke-dashoffset: -320;
}
.l3 .p5 {
  stroke-dasharray: 100, 420;
  stroke-dashoffset: -320;
}
.initial .l3 .p5 {
  stroke-dashoffset: -360;
}
.l4 > path {
  transition-delay: 280ms, 780ms, 80ms;
}
.l4 .p0 {
  stroke-dasharray: 10, 510;
  stroke-dashoffset: -70;
}
.initial .l4 .p0 {
  stroke-dashoffset: 80;
}
.l4 .p1 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -100;
}
.initial .l4 .p1 {
  stroke-dashoffset: 50;
}
.l4 .p2 {
  stroke-dasharray: 10, 510;
  stroke-dashoffset: -140;
}
.initial .l4 .p2 {
  stroke-dashoffset: 10;
}
.l4 .p3 {
  stroke-dasharray: 30, 490;
  stroke-dashoffset: -170;
}
.initial .l4 .p3 {
  stroke-dashoffset: -20;
}
.l4 .p4 {
  stroke-dasharray: 50, 470;
  stroke-dashoffset: -220;
}
.initial .l4 .p4 {
  stroke-dashoffset: -70;
}
.l4 .p5 {
  stroke-dasharray: 90, 430;
  stroke-dashoffset: -290;
}
.initial .l4 .p5 {
  stroke-dashoffset: -140;
}
.l5 > path {
  transition-delay: 350ms, 850ms, 150ms;
}
.l5 .p0 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: 0;
}
.initial .l5 .p0 {
  stroke-dashoffset: -100;
}
.l5 .p1 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -40;
}
.initial .l5 .p1 {
  stroke-dashoffset: -140;
}
.l5 .p2 {
  stroke-dasharray: 50, 470;
  stroke-dashoffset: -100;
}
.initial .l5 .p2 {
  stroke-dashoffset: -200;
}
.l5 .p3 {
  stroke-dasharray: 30, 490;
  stroke-dashoffset: -170;
}
.initial .l5 .p3 {
  stroke-dashoffset: -270;
}
.l5 .p4 {
  stroke-dasharray: 50, 470;
  stroke-dashoffset: -220;
}
.initial .l5 .p4 {
  stroke-dashoffset: -320;
}
.l5 .p5 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -290;
}
.initial .l5 .p5 {
  stroke-dashoffset: -390;
}
.l5 .p6 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -350;
}
.initial .l5 .p6 {
  stroke-dashoffset: -450;
}
.l6 > path {
  transition-delay: 420ms, 920ms, 220ms;
}
.l6 .p0 {
  stroke-dasharray: 60, 460;
  stroke-dashoffset: -20;
}
.initial .l6 .p0 {
  stroke-dashoffset: -210;
}
.l6 .p1 {
  stroke-dasharray: 10, 510;
  stroke-dashoffset: -100;
}
.initial .l6 .p1 {
  stroke-dashoffset: -290;
}
.l6 .p2 {
  stroke-dasharray: 30, 490;
  stroke-dashoffset: -130;
}
.initial .l6 .p2 {
  stroke-dashoffset: -320;
}
.l6 .p3 {
  stroke-dasharray: 80, 440;
  stroke-dashoffset: -180;
}
.initial .l6 .p3 {
  stroke-dashoffset: -370;
}
.l6 .p4 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -280;
}
.initial .l6 .p4 {
  stroke-dashoffset: -470;
}
.l6 .p5 {
  stroke-dasharray: 100, 420;
  stroke-dashoffset: -320;
}
.initial .l6 .p5 {
  stroke-dashoffset: -510;
}
.l6 .p6 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -440;
}
.initial .l6 .p6 {
  stroke-dashoffset: -630;
}
.l7 > path {
  transition-delay: 490ms, 990ms, 290ms;
}
.l7 .p0 {
  stroke-dasharray: 30, 490;
  stroke-dashoffset: -50;
}
.initial .l7 .p0 {
  stroke-dashoffset: -20;
}
.l7 .p1 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -100;
}
.initial .l7 .p1 {
  stroke-dashoffset: -70;
}
.l7 .p2 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -160;
}
.initial .l7 .p2 {
  stroke-dashoffset: -130;
}
.l7 .p3 {
  stroke-dasharray: 30, 490;
  stroke-dashoffset: -220;
}
.initial .l7 .p3 {
  stroke-dashoffset: -190;
}
.l7 .p4 {
  stroke-dasharray: 60, 460;
  stroke-dashoffset: -270;
}
.initial .l7 .p4 {
  stroke-dashoffset: -240;
}
.l7 .p5 {
  stroke-dasharray: 60, 460;
  stroke-dashoffset: -350;
}
.initial .l7 .p5 {
  stroke-dashoffset: -320;
}
.l8 > path {
  transition-delay: 560ms, 1060ms, 360ms;
}
.l8 .p0 {
  stroke-dasharray: 30, 490;
  stroke-dashoffset: -20;
}
.initial .l8 .p0 {
  stroke-dashoffset: -70;
}
.l8 .p1 {
  stroke-dasharray: 10, 510;
  stroke-dashoffset: -70;
}
.initial .l8 .p1 {
  stroke-dashoffset: -120;
}
.l8 .p2 {
  stroke-dasharray: 10, 510;
  stroke-dashoffset: -100;
}
.initial .l8 .p2 {
  stroke-dashoffset: -150;
}
.l8 .p3 {
  stroke-dasharray: 90, 430;
  stroke-dashoffset: -130;
}
.initial .l8 .p3 {
  stroke-dashoffset: -180;
}
.l8 .p4 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -240;
}
.initial .l8 .p4 {
  stroke-dashoffset: -290;
}
.l8 .p5 {
  stroke-dasharray: 80, 440;
  stroke-dashoffset: -280;
}
.initial .l8 .p5 {
  stroke-dashoffset: -330;
}
.l8 .p6 {
  stroke-dasharray: 100, 420;
  stroke-dashoffset: -380;
}
.initial .l8 .p6 {
  stroke-dashoffset: -430;
}
.l9 > path {
  transition-delay: 630ms, 1130ms, 430ms;
}
.l9 .p0 {
  stroke-dasharray: 70, 450;
  stroke-dashoffset: -10;
}
.initial .l9 .p0 {
  stroke-dashoffset: -160;
}
.l9 .p1 {
  stroke-dasharray: 50, 470;
  stroke-dashoffset: -100;
}
.initial .l9 .p1 {
  stroke-dashoffset: -250;
}
.l9 .p2 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -170;
}
.initial .l9 .p2 {
  stroke-dashoffset: -320;
}
.l9 .p3 {
  stroke-dasharray: 90, 430;
  stroke-dashoffset: -210;
}
.initial .l9 .p3 {
  stroke-dashoffset: -360;
}
.l9 .p4 {
  stroke-dasharray: 90, 430;
  stroke-dashoffset: -320;
}
.initial .l9 .p4 {
  stroke-dashoffset: -470;
}
.l10 > path {
  transition-delay: 700ms, 1200ms, 500ms;
}
.l10 .p0 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -40;
}
.initial .l10 .p0 {
  stroke-dashoffset: 60;
}
.l10 .p1 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -100;
}
.initial .l10 .p1 {
  stroke-dashoffset: 0;
}
.l10 .p2 {
  stroke-dasharray: 10, 510;
  stroke-dashoffset: -140;
}
.initial .l10 .p2 {
  stroke-dashoffset: -40;
}
.l10 .p3 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -170;
}
.initial .l10 .p3 {
  stroke-dashoffset: -70;
}
.l10 .p4 {
  stroke-dasharray: 10, 510;
  stroke-dashoffset: -230;
}
.initial .l10 .p4 {
  stroke-dashoffset: -130;
}
.l10 .p5 {
  stroke-dasharray: 80, 440;
  stroke-dashoffset: -260;
}
.initial .l10 .p5 {
  stroke-dashoffset: -160;
}
.l10 .p6 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -360;
}
.initial .l10 .p6 {
  stroke-dashoffset: -260;
}
.l11 > path {
  transition-delay: 770ms, 1270ms, 570ms;
}
.l11 .p0 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -60;
}
.initial .l11 .p0 {
  stroke-dashoffset: -10;
}
.l11 .p1 {
  stroke-dasharray: 50, 470;
  stroke-dashoffset: -100;
}
.initial .l11 .p1 {
  stroke-dashoffset: -50;
}
.l11 .p2 {
  stroke-dasharray: 60, 460;
  stroke-dashoffset: -170;
}
.initial .l11 .p2 {
  stroke-dashoffset: -120;
}
.l11 .p3 {
  stroke-dasharray: 40, 480;
  stroke-dashoffset: -250;
}
.initial .l11 .p3 {
  stroke-dashoffset: -200;
}
.l11 .p4 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -310;
}
.initial .l11 .p4 {
  stroke-dashoffset: -260;
}
.l12 > path {
  transition-delay: 840ms, 1340ms, 640ms;
}
.l12 .p0 {
  stroke-dasharray: 60, 460;
  stroke-dashoffset: -40;
}
.initial .l12 .p0 {
  stroke-dashoffset: 110;
}
.l12 .p1 {
  stroke-dasharray: 60, 460;
  stroke-dashoffset: -120;
}
.initial .l12 .p1 {
  stroke-dashoffset: 30;
}
.l12 .p2 {
  stroke-dasharray: 100, 420;
  stroke-dashoffset: -200;
}
.initial .l12 .p2 {
  stroke-dashoffset: -50;
}
.l12 .p3 {
  stroke-dasharray: 20, 500;
  stroke-dashoffset: -320;
}
.initial .l12 .p3 {
  stroke-dashoffset: -170;
}
