$blah: (
	"a": 42,
	/* test test test test test test test test test test test test test test test*/
	/* test test test test test test test test test test test test test test test*/
	"b": 43,
	"c": 44,
)
