<div class="a very long list of classes that exceeds {{eighty}} chars with emtpy spaces">hey</div>
<a href="a-very-long-href-from-a-third-party-marketing-platform{{id}}longer-than-eighty-chars">Link</a>
