---
title:         A very interesting subject
keywords:
- some
-      keywords
- for testing
data: {x:1,
 y:100000000}
---
<h1>{{title}}</h1>
<p>
  Keywords: {{#each keywords}}
  {{this}}{{#unless @last}}, {{/unless}}
  {{/each}}
</p>
