.foo {
  --single: red,;
  --multiple: red, blue,;
  --empty: ,;
  --empty-items: ,,;
  --function: var(--fallback,),;
  --before-comment: red, /* comment */;
  --after-comment: red /* comment */,;
  --important: in oklab, !important;
  --no-semicolon: red,
}

.unchanged {
  --no-comma: red;
  --string: ",";
  --function: var(--fallback,);
  font-family: Arial, sans-serif,;
  background-image: url("image.png"),;
}
