<div title='

  a title with random


  newlines'></div>

<div TITLE='

  a title with random


  newlines'></div>

<div title='

  a title with random


  newlines
  and {{mustaches}}

'></div>

<div TITLE='

  a title with random


  newlines
  and {{mustaches}}

'></div>
