<div class='class and other'></div>
<div class=' class and other '></div>
<div CLASs=' class and other '></div>
<p class=" a list of


weirdly formatted


classes">String</p>
<p class=" a list of


weirdly formatted


{{this.classes}}">String</p>
<p CLASS=" a list of


weirdly formatted


{{this.classes}}">String</p>

<Foo class="
"/>
