name: Ast Compare Test

on:
  push:
    branches:
      - main
      - patch-release
  pull_request:

jobs:
  test:
    name: Ast Compare Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup Node.js
        uses: actions/setup-node@v2.1.4

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn test:ast-compare
