name: Dev

on:
  push:
    branches:
      - main
      - patch-release
      - next
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"
          - "windows-latest"
        node:
          # Latest even version
          - "24"
          # Minimal version for development
          - "20"
        include:
          - os: "ubuntu-latest"
            # Pick a version that is fast (normally highest LTS version)
            node: "24"
            ENABLE_CODE_COVERAGE: true
            FULL_TEST: true
            CHECK_TEST_PARSERS: true
          # Versions not tested on linux, normally only even versions
          # If latest version is an odd number, it can be listed below too
          - os: "ubuntu-latest"
            node: "25"
          - os: "ubuntu-latest"
            node: "22"
    env:
      ENABLE_CODE_COVERAGE: ${{ matrix.ENABLE_CODE_COVERAGE }}
      FULL_TEST: ${{ matrix.FULL_TEST }}
      CHECK_TEST_PARSERS: ${{ matrix.CHECK_TEST_PARSERS }}
    name: ${{ matrix.FULL_TEST && '[Full Test] ' || '' }} Node.js ${{ matrix.node }} on ${{ startsWith(matrix.os, 'macos') && 'MacOS' || startsWith(matrix.os, 'windows') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --immutable

      - name: "`--debug-benchmark` flag"
        run: |
          node dist/prettier/bin/prettier.cjs --debug-benchmark index.js
