name: Internal ESLint Plugin Test

on:
  push:
    branches:
      - main
      - patch-release
      - next
    paths:
      - "scripts/tools/eslint-plugin-prettier-internal-rules/**"
      # This workflow file
      - ".github/workflows/eslint-rules.yml"
  pull_request:
    paths:
      - "scripts/tools/eslint-plugin-prettier-internal-rules/**"
      # This workflow file
      - ".github/workflows/eslint-rules.yml"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Test
        working-directory: scripts/tools/eslint-plugin-prettier-internal-rules
        run: yarn test-coverage
