name: Internal ESLint Plugin Test

on:
  push:
    branches:
      - main
      - patch-release
      - next
    paths:
      - "scripts/tools/eslint-plugin-prettier-internal-rules/**"
      # This workflow file
      - ".github/workflows/eslint-rules.yml"
  pull_request:
    paths:
      - "scripts/tools/eslint-plugin-prettier-internal-rules/**"
      # This workflow file
      - ".github/workflows/eslint-rules.yml"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Test
        run: cd scripts/tools/eslint-plugin-prettier-internal-rules && yarn test-coverage
