name: Prod

on:
  push:
    branches:
      - main
      - patch-release
      - next
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    uses: ./.github/workflows/_build.yml

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist

      - name: Lint Code
        run: yarn test:production-lint

  test:
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"
          - "windows-latest"
        node:
          # Latest even version
          - "24"
          # Minimal version for production
          - "14"
        include:
          - os: "ubuntu-latest"
            # Pick a version that is fast (normally highest LTS version)
            node: "24"
            FULL_TEST: true
          # Versions not tested on linux, normally only even versions
          # If latest version is an odd number, it can be listed below too
          - os: "ubuntu-latest"
            node: "22"
          - os: "ubuntu-latest"
            node: "20"
          - os: "ubuntu-latest"
            node: "18"
          - os: "ubuntu-latest"
            node: "16"
          # Tests on Intel Mac x Node.js 14 ( https://github.com/prettier/prettier/issues/16248 )
          - os: "macos-13"
            node: "14"
        # setup-node does not support Node.js 14 x M1 Mac
        exclude:
          - os: "macos-latest"
            node: "14"
    env:
      FULL_TEST: ${{ matrix.FULL_TEST }}
    name: ${{ matrix.FULL_TEST && '[Full Test] ' || '' }} Node.js ${{ matrix.node }} on ${{ startsWith(matrix.os, 'macos') && 'MacOS' || startsWith(matrix.os, 'windows') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install yarn@3
        if: ${{ matrix.node == '14' || matrix.node == '16' }}
        run: |
          yarn set version 3
          yarn config set httpRetry 10
          cat .yarnrc.yml

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Downgrade Jest
        if: ${{ matrix.node == '14' || matrix.node == '16' }}
        run: node ./scripts/prepare-test-for-legacy-nodejs.js --node-version ${{ matrix.node }}

      - name: Install Dependencies(yarn@3,mutable)
        if: ${{ matrix.node == '14' || matrix.node == '16' }}
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
        run: yarn install

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist

      - name: Run Tests
        run: yarn test:production

      - name: Run Format Tests (standalone)
        run: yarn test:production-standalone

  cli:
    name: CLI
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "0.10.48"
          package-manager-cache: false

      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist

      - name: Validate Node.js Version
        run: node -v | grep "v0.10.48" || exit 1

      - name: Run CLI on Node.js v0.10.48
        run: node dist/prettier/bin/prettier.cjs --version 2>&1 >/dev/null | grep "prettier requires at least version 14 of Node, please upgrade" || exit 1

  preview:
    if: github.repository == 'prettier/prettier'
    name: Preview release
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # `pkg-pr-new` requires Node.js v20
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: latest

      - name: Download Artifact
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist

      - name: Release
        # Use `--compact` after we publish `@prettier/plugin-oxc`
        # run: |
        #   npx pkg-pr-new publish "./dist/*" --compact --packageManager=yarn
        run: |
          npx pkg-pr-new publish "./dist/*" --packageManager=yarn
