name: Prod

on:
  push:
    branches:
      - main
      - patch-release
      - next
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    uses: ./.github/workflows/_build.yml

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Setup Node.js
        uses: actions/setup-node@v3.6.0
        with:
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Download Artifact
        uses: actions/download-artifact@v3.0.2
        with:
          name: dist
          path: dist

      - name: Lint Code
        run: yarn test:dist-lint

  test:
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"
          - "windows-latest"
        node:
          # Latest even version
          - "20"
          # Minimal version for production
          - "14"
        include:
          - os: "ubuntu-latest"
            # Pick a version that is fast (normally highest LTS version)
            node: "18"
            FULL_TEST: true
          # Versions not tested on linux, normally only even versions
          # If latest version is an odd number, it can be listed bellow too
          - os: "ubuntu-latest"
            node: "16"
    env:
      FULL_TEST: ${{ matrix.FULL_TEST }}
    name: Node.js ${{ matrix.node }} on ${{ matrix.os }}${{ matrix.FULL_TEST && ' (Full Test)' || '' }}
    runs-on: ${{ matrix.os }}
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Setup Node.js
        uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Download Artifact
        uses: actions/download-artifact@v3.0.2
        with:
          name: dist
          path: dist

      - name: Run Tests
        run: yarn test:dist

      - name: Run Format Tests (standalone)
        run: yarn test:dist-standalone

  cli:
    name: CLI
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Setup Node.js
        uses: actions/setup-node@v3.6.0
        with:
          node-version: "0.10.48"

      - name: Download Artifact
        uses: actions/download-artifact@v3.0.2
        with:
          name: dist
          path: dist

      - name: Validate Node.js Version
        run: node -v | grep "v0.10.48" || exit 1

      - name: Run CLI on Node.js v0.10.48
        run: node dist/bin/prettier.cjs --version 2>&1 >/dev/null | grep "prettier requires at least version 14 of Node, please upgrade" || exit 1
