name: Release Script Test

defaults:
  run:
    working-directory: scripts/release

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
      - patch-release
      - next
    paths:
      - "scripts/release/**"
      - ".github/workflows/release-script-test.yml"
  pull_request:
    paths:
      - "scripts/release/**"
      - ".github/workflows/release-script-test.yml"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          # Minimal version the release script required
          node-version: "20"
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Test
        run: yarn test
