<div
    bindon-target=" a | b : c "
    [(target)]=" a | b : c "
    bind-target=" a | b : c "
    [target]=" a | b : c "
    [target]=" a | pipe   "
    [target]=" 0 - 1 "
    [target]=" - 1 "
    [target]=" a ? 1 : 2 "
    [target]=" "
    [target]=" a ( 1 ) ( 2 ) "
    [target]=" a [ b ] "
    [target]=" [ 1 ] "
    [target]=" { 'a' : 1 } "
    [target]=" { a : 1 } "
    [target]=" { 
      trailingComma : 'notAllowed'
    }"
    [target]=" [ 
      longlonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglong
    ]"
    [target]=" true "
    [target]=" undefined "
    [target]=" null "
    [target]=" ( 1 ) "
    [target]=" 1 "
    [target]="  'hello' "
    [target]=" a ( 1 , 2 ) "
    [target]=" a . b ( 1 , 2 ) "
    [target]=" x ! "
    [target]=" ! x "
    [target]=" ( ( a ) ) "
    [target]=" a "
    [target]=" a // hello "
    [target]=" a . b "
    [target]=" javascript : 'hello world' "
    [target]=" a ?. b ( ) "
    [target]=" a ?. b "
    [target]=" this . a "
    on-target=" a = 1 "
    (target)=" a = 1 "
    (target)=" a . b = 1 "
    (target)=" a [ b ] = 1 "
    (target)=" a // hello "
    (target)=" a ; b "
    (event)="  0  "
    (event)="  a.b  "
    (event)="  hello  "
    (event)="  hello()  "
    (event)="  a && b  "
    (event)="  a && b()  "
    (event)="  foo = $event  "
    (event)="  foo == $event  "
    *ngIf=" something?true:false    "
    *ngIf=" a | pipe   "
    *ngFor="  let     hero     of     heroes"
    *ngFor="  let    hero     of[1,2,3,666666666666666666666666666666666666]; let i=index"
    *ngFor="     let hero     of     heroes;     trackBy    :    trackByHeroes     "
    *ngFor=" let     item   of   items   ;    index    as   i  ; trackBy  :     trackByFn"
    *ngFor="  let    hero     of heroes; let i  =  index"
    *ngFor="  let    hero     of heroes; value     myValue"
    *ngIf=" condition  ;  else  elseBlock "
    *ngIf=" condition  ;  then  thenBlock  else  elseBlock "
    *ngIf=" condition  as  value  ;  else  elseBlock "
    *directive=" let hero "
    *directive=" let hero = hello "
    *directive=" let hero of heroes "
    *directive=" let hero ; of : heroes "
    *directive=" a "
    *directive=" a as b "
    *directive=" a , b "
    *directive=" a ; b "
    *directive=" a ; b c "
    *directive=" a ; b : c "
    *directive=" a ; b : c as d "
    *directive=" a ; b as c "
    *ngIf="listRow.NextScheduledSendStatus == 1 || listRow.NextScheduledSendStatus == 2 || listRow.NextScheduledSendStatus == 3"
    *ngIf="listRow.NextScheduledSendStatus == 1 || listRow.NextScheduledSendStatus == 2 || listRow.NextScheduledSendStatus == 3; else hello"
    (target)="listRow.NextScheduledSendStatus == 1 || listRow.NextScheduledSendStatus == 2 || listRow.NextScheduledSendStatus == 3"
    [target]="listRow.NextScheduledSendStatus == 1 || listRow.NextScheduledSendStatus == 2 || listRow.NextScheduledSendStatus == 3"
    [target]="{ longlonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglonglong: true }"
    [error]="'We couldn\\\'t find anything with that name.'"
    *ngIf="form.controls.details?.controls.amount?.errors.min"
    [ngClass]="
    {'btn-success': (dialog$ | async).level === dialogLevelEnum.SUCCESS,
      'btn-warning': (dialog$ | async).level === dialogLevelEnum.WARNING,
      'btn-svg': (dialog$ | async).level === dialogLevelEnum.DANGER}"
    [stickout]="+toolAssembly.stickoutMm"
    test='{{ "test" | translate }}'
    test='foo {{       invalid invalid       }} bar {{       valid       }} baz'
    test='foo
    
    {{       invalid
             invalid       }} 
    
    bar 
    
          {{       valid       }} 
    
    baz'
    i18n="Normal i18n text"
    i18n="This is a very long internationalization description text, exceeding the configured print width, but could easily be formatted"
    i18n-test="Attribute i18n text"
    i18n-test="This is a very long internationalization description text, exceeding the configured print width, but could easily be formatted"
    i18n="This is a very long internationalization description text, exceeding the configured print width, but could easily be formatted" i18n="This is yet another very long internationalization description text, exceeding the configured print width, but could easily be formatted"
    i18n="@@customId"
    i18n="Some description@@customIdWithDescription"
    i18n="some meaning|Some description@@customIdWithDescription"
    i18n="some meaning|Some very long internationalization description text exceeding the configured print width@@customIdWithDescription"
></div>
